.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

@media screen and (max-width: 1024px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 14px;
        row-gap: 14px;
    }
}

@media screen and (max-width: 500px) {
    .list {
        grid-template-columns: 1fr 1fr;
    }
}